body {
    padding: 2em;
    margin: 0;
    background-color: #F9F9F9;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #6B6B6B;
    line-height: 25px;
}

.content-wrapper {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2em;
    box-shadow: 0px 0px 34px #E0E0E0;
}

.logo-wrapper {
    border-bottom: solid 1px #efefef;
    text-align: center;
    margin-bottom: 1em;

    svg {
        margin: 1em;
        width: 150px;

        path, rect {
            fill: gray;
        }
    }

    img {
        width: 10em;
    }

    .date-range {
        text-transform: uppercase;
        font-size: 14px;
        margin-top: -15px;
        margin-bottom: 15px;
    }
}

.project-wrapper {
    .project-summary {
        margin-bottom: 1em;

        i.padding-left {
            padding-left: 10px;
        }

        .project-thumbnail {
            float: right;
            img {
                width: 55px;
            }
        }

        .project-name {
            font-size: 20px;
            line-height: 31px;
            font-weight: bold;
        }
    }

    .feed .feed-item {
        margin-bottom: 1em;
        border: solid 1px #F9F9F9;

        img {
            width: 24px;
            display: inline-block;
            margin-bottom: -7px;
            margin-right: 3px;
            border-radius: 50%;
            border: solid 1px white;
        }

        .item-header {
            background-color: #F9F9F9;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0.5em;
        }

        .item-body {
            padding: 0.75em;
        }
    }
}
