body {
    padding: 2em;
    margin: 0;
    background-color: #F9F9F9;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #6B6B6B;
    line-height: 25px;
}

a {
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #F1F1F1;
    margin: 2em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2em;
    box-shadow: 0px 0px 34px #E0E0E0;
}

.logo-wrapper {
    border-bottom: solid 1px #efefef;
    text-align: center;
    margin-bottom: 1em;

    svg {
        margin: 1em;
        width: 150px;

        path, rect {
            fill: gray;
        }
    }

    img {
        width: 10em;
    }

    .date-range {
        text-transform: uppercase;
        font-size: 14px;
        margin-top: -15px;
        margin-bottom: 15px;
    }
}

.project-wrapper {
    .project-summary {
        margin-bottom: 1em;

        .date-range {
            text-transform: uppercase;
            font-size: 14px;
        }

        i.padding-left {
            padding-left: 10px;
        }

        i.padding-right {
            padding-right: 10px;
        }

        .project-thumbnail {
            float: right;
            img {
                width: 55px;
            }
        }

        .project-name {
            font-size: 20px;
            line-height: 31px;
            font-weight: bold;
        }

        .conversion-rate {
            color: green;
        }

        .conversion-details {
            font-size: 12px;
        }

        .pitch-progress {
            margin-top: 15px;
            border: solid 1px #efefef;
            padding: 8px;
            position: relative;
            height: 25px;

            .fill {
                position: absolute;
                width: 20%;
                height: 42px;
                margin-top: -9px;
                margin-left: -8px;

                background-color: #efefef;
                &.ahead-schedule {
                    background-color: #E4FFE4;
                }
                &.ahead-schedule.little {
                    background-color: #E4FFE4;
                }
                &.behind-schedule {
                    background-color: #FFE7E7;
                }
                &.behind-schedule.little {
                    background-color: #FFF3DC;
                }
            }

            .progress-label {
                z-index: 9;
                position: absolute;
            }

            .day-of-month-indicator {
                border-right: solid 1px red;
                height: 42px;
                position: absolute;
                margin-top: -9px;
            }
        }
    }

    .feed .feed-item {
        margin-bottom: 1em;
        border: solid 1px #efefef;

        img {
            width: 24px;
            display: inline-block;
            margin-bottom: -7px;
            margin-right: 3px;
            border-radius: 50%;
            border: solid 1px white;
        }

        .item-header {
            background-color: #F9F9F9;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0.5em;

            .item-type {
                float: right;
                font-size: 14px;
                color: #B5B5B5;
            }
        }

        .item-body {
            padding: 0.75em;
        }
    }
}
