body {
    padding: 1em;
    margin: 0;
    background-color: #EFEFEF;
    font-family: arial, sans-serif;
}

.content-wrapper {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1em;
}